In [1]:
# Importing Libraries
import selenium
import pandas as pd
import time
import warnings
warnings.filterwarnings("ignore")
from bs4 import BeautifulSoup

In [2]:
# Importing selenium webdriver 
from selenium import webdriver

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException,ElementNotInteractableException

#Importing requests
import requests

# importing regex
import re

from selenium.webdriver.common.by import By

Scrape the details of most viewed videos on YouTube from Wikipedia. Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: A) Rank B) Name C) Artist D) Upload date E) Views

In [3]:
# let first connect to the webdriver
driver = webdriver.Chrome(r"/users/pratiksingh/Downloads/chromedriver")

In [4]:
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [5]:
Rank=[]
Name=[] 
Artist=[]
Upload_date=[]
Views=[]

In [6]:
dt = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[1]')
for d in dt:
    if d.text is None :
        Rank.append('-')
    else:
        Rank.append(d.text)

In [7]:
dt = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[2]')
for d in dt:
    if d.text is None :
        Name.append('-')
    else:
        Name.append(d.text)

In [8]:
dt = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[3]')
for d in dt:
    if d.text is None :
        Artist.append('-')
    else:
        Artist.append(d.text)

In [9]:
dt = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[5]')
for d in dt:
    if d.text is None :
        Upload_date.append('-')
    else:
        Upload_date.append(d.text)

In [10]:
dt = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[4]')
for d in dt:
    if d.text is None :
        Views.append('-')
    else:
        Views.append(d.text)

In [11]:
import pandas as pd
table=pd.DataFrame({})

table['Rank']=Rank[:30]
table['Name']=Name[:30]
table['Artist']=Artist[:30]
table['Upload Date']=Upload_date[:30]
table['Views']=Views[:30]

In [12]:
table

,Rank,Name,Artist,Upload Date,Views
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",10.33
1,2.,"""Despacito""[6]",Luis Fonsi,"January 12, 2017",7.78
2,3.,"""Johny Johny Yes Papa""[12]",LooLoo Kids,"October 8, 2016",6.23
3,4.,"""Shape of You""[13]",Ed Sheeran,"January 30, 2017",5.65
4,5.,"""See You Again""[15]",Wiz Khalifa,"April 6, 2015",5.44
5,6.,"""Bath Song""[20]",Cocomelon – Nursery Rhymes,"May 2, 2018",5.10
6,7.,"""Learning Colors – Colorful Eggs on a Farm""[21]",Miroshka TV,"February 27, 2018",4.56
7,8.,"""Phonics Song with Two Words""[22]",ChuChu TV,"March 6, 2014",4.51
8,9.,"""Uptown Funk""[23]",Mark Ronson,"November 19, 2014",4.49
9,10.,"""Masha and the Bear – Recipe for Disaster""[24]",Get Movies,"January 31, 2012",4.49
10,11.,"""Gangnam Style""[25]",Psy,"July 15, 2012",4.36
11,12.,"""Dame Tu Cosita""[30]",El Chombo,"April 5, 2018",3.89
12,13.,"""Wheels on the Bus""[31]",Cocomelon – Nursery Rhymes,"May 24, 2018",3.79
13,14.,"""Sugar""[32]",Maroon 5,"January 14, 2015",3.66
14,15.,"""Roar""[33]",Katy Perry,"September 5, 2013",3.54
15,16.,"""Counting Stars""[34]",OneRepublic,"May 31, 2013",3.53
16,17.,"""Sorry""[35]",Justin Bieber,"October 22, 2015",3.52
17,18.,"""Thinking Out Loud""[36]",Ed Sheeran,"October 7, 2014",3.42
18,19.,"""Axel F""[37]",Crazy Frog,"June 16, 2009",3.27
19,20.,"""Girls Like You""[38]",Maroon 5,"May 31, 2018",3.25
20,21.,"""Faded""[39]",Alan Walker,"December 3, 2015",3.25
21,22.,"""Dark Horse""[40]",Katy Perry,"February 20, 2014",3.24
22,23.,"""Let Her Go""[41]",Passenger,"July 25, 2012",3.19
23,24.,"""Bailando""[42]",Enrique Iglesias,"April 11, 2014",3.18
24,25.,"""Lean On""[43]",Major Lazer,"March 22, 2015",3.18
25,26.,"""Baa Baa Black Sheep""[44]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.17
26,27.,"""Shake It Off""[45]",Taylor Swift,"August 18, 2014",3.15
27,28.,"""Perfect""[46]",Ed Sheeran,"November 9, 2017",3.11
28,29.,"""Waka Waka (This Time for Africa)""[47]",Shakira,"June 4, 2010",3.08
29,30.,"""Mi Gente""[48]",J Balvin,"June 29, 2017",3.05

Scrape the details team India’s international fixtures from bcci.tv. Url = https://www.bcci.tv/ You need to find following details: A) Match title (I.e. 1stODI) B) Series C) Place D) Date E) Time

In [46]:
url = "https://www.bcci.tv/"
page = requests.get(url)
print("Legality Response number from our URL is:", page) # to show the response output from the webpage
soup = BeautifulSoup(page.content)

driver=webdriver.Chrome(r"/users/pratiksingh/Downloads/chromedriver")

driver.get(url)
driver.maximize_window()

Legality Response number from our URL is: <Response [200]>

In [48]:
btn=driver.find_element_by_xpath("//ul[@class='nav navbar-nav  align-items-center']/li[2]/a")
driver.get(btn.get_attribute("href"))
time.sleep(3)

In [49]:
# Empty lists
match_title=[]
series=[]
place=[]
date=[]
matchtime=[]
datetime=[]

In [57]:
for i in urls:                 
    
    time.sleep(2)
    
    try:                    
        match_title=driver.find_element_by_xpath("//p[@class='mc-header-info__match-description']/span")
        match.append(match_title.text)
    except NoSuchElementException:
        match.append('No details available')
    
    time.sleep(2)
    
    try:
        series_title=driver.find_element_by_xpath("//h1[@class='mc-header-info__title']/strong")
        series.append(series_title.text)
    except NoSuchElementException:
        series.append("No details Available")
    
    time.sleep(2)
    
    try:
        date_title=driver.find_element_by_xpath("//div[@class='mc-header-scorebox__datetime']/strong")
        date.append(date_title.text)
    except NoSuchElementException:
        date.append("No details Available")      
    
    time.sleep(2)
       
    try:
        time_title=driver.find_element_by_xpath("//div[@class='mc-header-scorebox__datetime']/span")
        Time.append(time_title.text)
    except NoSuchElementException:
        Time.append("No details Available")    
      
    time.sleep(2)
      
    try:
        place_title=driver.find_element_by_xpath("//h1[@class='mc-header-info__title']")
        venue.append(place_title.text)
    except NoSuchElementException:
        place.append("No details Available")

In [ ]:
date=[i.split(' ',3)[:3] for i in datetime]
date=[' '.join(i) for i in date]
matchtime=[i.split(' ',3)[-1] for i in datetime]
  
time.sleep(2)       

df=pd.DataFrame({'Match Title': match_title,
                          "Series": series,
                          "Place": place,
                          "Date": date,
                          "Time": matchtime})
df

Q3. Scrape the details of selenium exception from guru99.com. Url = https://www.guru99.com/ You need to find following details: A) Name B) Description Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [64]:
driver=webdriver.Chrome(r"/users/pratiksingh/Downloads/chromedriver")
driver.get('https://www.guru99.com/')

In [65]:
driver.find_element_by_xpath('//a[@title="Selenium"]').click()

In [66]:
driver.find_element_by_xpath('//a[@title="Selenium Exception Handling (Common Exceptions List)"]').click()

In [67]:
Name=[]
Description=[]

In [68]:
dt = driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[1]')
for d in dt:
    Name.append(d.text)

In [69]:
dt = driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[2]')
for d in dt:
    Description.append(d.text)

In [70]:
import pandas as pd
table=pd.DataFrame({})

table['Name']=Name[1:50]
table['Description']=Description[1:50]

In [71]:
table

,Name,Description
0,ElementNotSelectableException,This Selenium exception occurs when an element...
1,NoSuchElementException,This Exception occurs if an element could not ...
2,NoSuchFrameException,This Exception occurs if the frame target to b...
3,NoAlertPresentException,This Exception occurs when you switch to no pr...
4,NoSuchWindowException,This Exception occurs if the window target to ...
5,StaleElementReferenceException,This Selenium exception occurs happens when th...
6,SessionNotFoundException,The WebDriver is acting after you quit the bro...
7,TimeoutException,Thrown when there is not enough time for a com...
8,WebDriverException,This Exception takes place when the WebDriver ...
9,ConnectionClosedException,This type of Exception takes place when there ...
10,ElementClickInterceptedException,The command may not be completed as the elemen...
11,ElementNotInteractableException,This Selenium exception is thrown when any ele...
12,ErrorInResponseException,This happens while interacting with the Firefo...
13,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
14,ImeActivationFailedException,This expectation will occur when IME engine ac...
15,ImeNotAvailableException,It takes place when IME support is unavailable.
16,InsecureCertificateException,Navigation made the user agent to hit a certif...
17,InvalidArgumentException,It occurs when an argument does not belong to ...
18,InvalidCookieDomainException,This happens when you try to add a cookie unde...
19,InvalidCoordinatesException,This type of Exception matches an interacting ...
20,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
21,InvalidSessionIdException,This Exception took place when the given sessi...
22,InvalidSwitchToTargetException,This occurs when the frame or window target to...
23,JavascriptException,This issue occurs while executing JavaScript g...
24,JsonException,It occurs when you afford to get the session w...
25,NoSuchAttributeException,This kind of Exception occurs when the attribu...
26,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
27,NoSuchContextException,ContextAware does mobile device testing.
28,NoSuchCookieException,This Exception occurs when no cookie matching ...
29,NotFoundException,This Exception is a subclass of WebDriverExcep...
30,RemoteDriverServerException,This Selenium exception is thrown when the ser...
31,ScreenshotException,It is not possible to capture a screen.
32,SessionNotCreatedException,It happens when a new session could not be suc...
33,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
34,UnexpectedTagNameException,Happens if a support class did not get a web e...
35,UnhandledAlertException,This expectation occurs when there is an alert...
36,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
37,UnknownMethodException,This Exception happens when the requested comm...
38,UnreachableBrowserException,This Exception occurs only when the browser is...
39,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

Scrape the details of State-wise GDP of India from statisticstime.com. Url = http://statisticstimes.com/ You have to find following details: A) Rank B) State C) GSDP D) GSDP E) Share F) GDP($ billion)

In [75]:
import numpy as np
import pandas as pd
from time import sleep
from random import randint
from selenium import webdriver
import requests # library to handle requests
from bs4 import BeautifulSoup

In [77]:
driver=webdriver.Chrome(r"/users/pratiksingh/Downloads/chromedriver")

In [78]:
driver.get("https://statisticstimes.com/")

In [79]:
url="https://statisticstimes.com/economy/india/indian-states-gdp.php"
#table_class="table table-striped"
response=requests.get(url)
print(response.status_code)

200

In [80]:
soup = BeautifulSoup(response.text, 'html.parser')
table=soup.find_all('table',{'id':"table_id"})
table

[<table class="display" id="table_id" style="width:890px;display:table;border:1px solid #0000FF;">
 <caption style="caption-side:top">GSDP</caption>
 <thead>
 <tr><th rowspan="2" style="background-color:#993366">Rank</th>
 <th rowspan="2" style="background-color:#b33c00">State</th>
 <th colspan="2" style="background-color:#00e64d">GSDP (Cr INR at Current prices)</th>
 <th style="background-color:#9932CC">Share</th><th style="background-color:#DEB887">GDP ($billion)</th>
 <th colspan="2" style="background-color:#1E90FF">GSDP (Cr INR at 2011-12 prices)</th></tr>
 <tr style="background-color:#a3a375"><th>19-20</th><th>18-19</th>
 <th>18-19</th><th>2019</th><th>19-20</th><th>18-19</th></tr>
 </thead>
 <tbody>
 <tr><td class="data1">1</td><td class="name">Maharashtra</td>
 <td class="data">-</td>
 <td class="data">2,632,792</td>
 <td class="data">13.94%</td>
 <td class="data">399.921</td>
 <td class="data">-</td>
 <td class="data">2,039,074</td>
 </tr><tr><td class="data1">2</td><td class="name">Tamil Nadu</td>
 <td class="data">1,845,853</td>
 <td class="data">1,630,208</td>
 <td class="data">8.63%</td>
 <td class="data">247.629</td>
 <td class="data">1,312,929</td>
 <td class="data">1,215,307</td>
 </tr><tr><td class="data1">3</td><td class="name">Uttar Pradesh</td>
 <td class="data">1,687,818</td>
 <td class="data">1,584,764</td>
 <td class="data">8.39%</td>
 <td class="data">240.726</td>
 <td class="data">1,166,817</td>
 <td class="data">1,123,982</td>
 </tr><tr><td class="data1">4</td><td class="name">Gujarat</td>
 <td class="data">-</td>
 <td class="data">1,502,899</td>
 <td class="data">7.96%</td>
 <td class="data">228.290</td>
 <td class="data">-</td>
 <td class="data">1,186,379</td>
 </tr><tr><td class="data1">5</td><td class="name">Karnataka</td>
 <td class="data">1,631,977</td>
 <td class="data">1,493,127</td>
 <td class="data">7.91%</td>
 <td class="data">226.806</td>
 <td class="data">1,156,039</td>
 <td class="data">1,091,077</td>
 </tr><tr><td class="data1">6</td><td class="name">West Bengal</td>
 <td class="data">1,253,832</td>
 <td class="data">1,089,898</td>
 <td class="data">5.77%</td>
 <td class="data">165.556</td>
 <td class="data">793,223</td>
 <td class="data">739,525</td>
 </tr><tr><td class="data1">7</td><td class="name">Rajasthan</td>
 <td class="data">1,020,989</td>
 <td class="data">942,586</td>
 <td class="data">4.99%</td>
 <td class="data">143.179</td>
 <td class="data">711,627</td>
 <td class="data">677,428</td>
 </tr><tr><td class="data1">8</td><td class="name">Andhra Pradesh</td>
 <td class="data">972,782</td>
 <td class="data">862,957</td>
 <td class="data">4.57%</td>
 <td class="data">131.083</td>
 <td class="data">672,018</td>
 <td class="data">621,301</td>
 </tr><tr><td class="data1">9</td><td class="name">Telangana</td>
 <td class="data">969,604</td>
 <td class="data">861,031</td>
 <td class="data">4.56%</td>
 <td class="data">130.791</td>
 <td class="data">663,258</td>
 <td class="data">612,828</td>
 </tr><tr><td class="data1">10</td><td class="name">Madhya Pradesh</td>
 <td class="data">906,672</td>
 <td class="data">809,592</td>
 <td class="data">4.29%</td>
 <td class="data">122.977</td>
 <td class="data">561,801</td>
 <td class="data">522,009</td>
 </tr><tr><td class="data1">11</td><td class="name">Kerala</td>
 <td class="data">-</td>
 <td class="data">781,653</td>
 <td class="data">4.14%</td>
 <td class="data">118.733</td>
 <td class="data">-</td>
 <td class="data">559,412</td>
 </tr><tr><td class="data1">12</td><td class="name">Delhi</td>
 <td class="data">856,112</td>
 <td class="data">774,870</td>
 <td class="data">4.10%</td>
 <td class="data">117.703</td>
 <td class="data">634,408</td>
 <td class="data">590,569</td>
 </tr><tr><td class="data1">13</td><td class="name">Haryana</td>
 <td class="data">831,610</td>
 <td class="data">734,163</td>
 <td class="data">3.89%</td>
 <td class="data">111.519</td>
 <td class="data">572,240</td>
 <td class="data">531,085</td>
 </tr><tr><td class="data1">14</td><td class="name">Bihar</td>
 <td class="data">611,804</td>
 <td class="data">530,363</td>
 <td class="data">2.81%</td>
 <td class="data">80.562</td>
 <td class="data">414,977</td>
 <td class="data">375,651</td>
 </tr><tr><td class="data1">15</td><td class="name">Punjab</td>
 <td class="data">574,760</td>
 <td class="data">526,376</td>
 <td class="data">2.79%</td>
 <td class="data">79.957</td>
 <td class="data">418,868</td>
 <td class="data">397,669</td>
 </tr><tr><td class="data1">16</td><td class="name">Odisha</td>
 <td class="data">521,275</td>
 <td class="data">487,805</td>
 <td class="data">2.58%</td>
 <td class="data">74.098</td>
 <td class="data">396,499</td>
 <td class="data">376,877</td>
 </tr><tr><td class="data1">17</td><td class="name">Assam</td>
 <td class="data">-</td>
 <td class="data">315,881</td>
 <td class="data">1.67%</td>
 <td class="data">47.982</td>
 <td class="data">-</td>
 <td class="data">234,048</td>
 </tr><tr><td class="data1">18</td><td class="name">Chhattisgarh</td>
 <td class="data">329,180</td>
 <td class="data">304,063</td>
 <td class="data">1.61%</td>
 <td class="data">46.187</td>
 <td class="data">243,477</td>
 <td class="data">231,182</td>
 </tr><tr><td class="data1">19</td><td class="name">Jharkhand</td>
 <td class="data">328,598</td>
 <td class="data">297,204</td>
 <td class="data">1.57%</td>
 <td class="data">45.145</td>
 <td class="data">240,036</td>
 <td class="data">224,986</td>
 </tr><tr><td class="data1">20</td><td class="name">Uttarakhand</td>
 <td class="data">-</td>
 <td class="data">245,895</td>
 <td class="data">1.30%</td>
 <td class="data">37.351</td>
 <td class="data">-</td>
 <td class="data">193,273</td>
 </tr><tr><td class="data1">21</td><td class="name">Jammu &amp; Kashmir</td>
 <td class="data">-</td>
 <td class="data">155,956</td>
 <td class="data">0.83%</td>
 <td class="data">23.690</td>
 <td class="data">-</td>
 <td class="data">112,755</td>
 </tr><tr><td class="data1">22</td><td class="name">Himachal Pradesh</td>
 <td class="data">165,472</td>
 <td class="data">153,845</td>
 <td class="data">0.81%</td>
 <td class="data">23.369</td>
 <td class="data">124,403</td>
 <td class="data">117,851</td>
 </tr><tr><td class="data1">23</td><td class="name">Goa</td>
 <td class="data">80,449</td>
 <td class="data">73,170</td>
 <td class="data">0.39%</td>
 <td class="data">11.115</td>
 <td class="data">63,408</td>
 <td class="data">57,787</td>
 </tr><tr><td class="data1">24</td><td class="name">Tripura</td>
 <td class="data">55,984</td>
 <td class="data">49,845</td>
 <td class="data">0.26%</td>
 <td class="data">7.571</td>
 <td class="data">40,583</td>
 <td class="data">36,963</td>
 </tr><tr><td class="data1">25</td><td class="name">Chandigarh</td>
 <td class="data">-</td>
 <td class="data">42,114</td>
 <td class="data">0.22%</td>
 <td class="data">6.397</td>
 <td class="data">-</td>
 <td class="data">31,192</td>
 </tr><tr><td class="data1">26</td><td class="name">Puducherry</td>
 <td class="data">38,253</td>
 <td class="data">34,433</td>
 <td class="data">0.18%</td>
 <td class="data">5.230</td>
 <td class="data">25,093</td>
 <td class="data">23,013</td>
 </tr><tr><td class="data1">27</td><td class="name">Meghalaya</td>
 <td class="data">36,572</td>
 <td class="data">33,481</td>
 <td class="data">0.18%</td>
 <td class="data">5.086</td>
 <td class="data">26,695</td>
 <td class="data">24,682</td>
 </tr><tr><td class="data1">28</td><td class="name">Sikkim</td>
 <td class="data">32,496</td>
 <td class="data">28,723</td>
 <td class="data">0.15%</td>
 <td class="data">4.363</td>
 <td class="data">20,017</td>
 <td class="data">18,722</td>
 </tr><tr><td class="data1">29</td><td class="name">Manipur</td>
 <td class="data">31,790</td>
 <td class="data">27,870</td>
 <td class="data">0.15%</td>
 <td class="data">4.233</td>
 <td class="data">20,673</td>
 <td class="data">19,300</td>
 </tr><tr><td class="data1">30</td><td class="name">Nagaland</td>
 <td class="data">-</td>
 <td class="data">27,283</td>
 <td class="data">0.14%</td>
 <td class="data">4.144</td>
 <td class="data">-</td>
 <td class="data">17,647</td>
 </tr><tr><td class="data1">31</td><td class="name">Arunachal Pradesh</td>
 <td class="data">-</td>
 <td class="data">24,603</td>
 <td class="data">0.13%</td>
 <td class="data">3.737</td>
 <td class="data">-</td>
 <td class="data">16,676</td>
 </tr><tr><td class="data1">32</td><td class="name">Mizoram</td>
 <td class="data">26,503</td>
 <td class="data">22,287</td>
 <td class="data">0.12%</td>
 <td class="data">3.385</td>
 <td class="data">18,797</td>
 <td class="data">16,478</td>
 </tr><tr><td class="data1">33</td><td class="name">Andaman &amp; Nicobar Islands</td>
 <td class="data">-</td><td class="data">-</td><td class="data">-</td>
 <td class="data">-</td><td class="data">-</td><td class="data">-</td></tr>
 </tbody>
 <tfoot>
 <tr style="background-color:#66FFC2"><td class="data1"></td><td class="name">India</td>
 <td class="data">20,351,013</td>
 <td class="data">18,886,957</td>
 <td class="data"></td><td class="data">2,869</td>
 <td class="data">14,569,268</td>
 <td class="data">14,003,316</td>
 </tr>
 </tfoot>
 </table>]

In [81]:
df=pd.read_html(str(table))
# convert list to dataframe
df=pd.DataFrame(df[0])
print(df.head())

  Rank          State GSDP (Cr INR at Current prices)            Share  \
  Rank          State                           19-20    18-19   18-19
0  1.0    Maharashtra                               -  2632792  13.94%
1  2.0     Tamil Nadu                         1845853  1630208   8.63%
2  3.0  Uttar Pradesh                         1687818  1584764   8.39%
3  4.0        Gujarat                               -  1502899   7.96%
4  5.0      Karnataka                         1631977  1493127   7.91%

  GDP ($billion) GSDP (Cr INR at 2011-12 prices)
            2019                           19-20    18-19
0        399.921                               -  2039074
1        247.629                         1312929  1215307
2        240.726                         1166817  1123982
3        228.290                               -  1186379
4        226.806                         1156039  1091077

In [82]:
df

    Rank                      State GSDP (Cr INR at Current prices)            \
    Rank                      State                           19-20     18-19
0    1.0                Maharashtra                               -   2632792
1    2.0                 Tamil Nadu                         1845853   1630208
2    3.0              Uttar Pradesh                         1687818   1584764
3    4.0                    Gujarat                               -   1502899
4    5.0                  Karnataka                         1631977   1493127
5    6.0                West Bengal                         1253832   1089898
6    7.0                  Rajasthan                         1020989    942586
7    8.0             Andhra Pradesh                          972782    862957
8    9.0                  Telangana                          969604    861031
9   10.0             Madhya Pradesh                          906672    809592
10  11.0                     Kerala                               -    781653
11  12.0                      Delhi                          856112    774870
12  13.0                    Haryana                          831610    734163
13  14.0                      Bihar                          611804    530363
14  15.0                     Punjab                          574760    526376
15  16.0                     Odisha                          521275    487805
16  17.0                      Assam                               -    315881
17  18.0               Chhattisgarh                          329180    304063
18  19.0                  Jharkhand                          328598    297204
19  20.0                Uttarakhand                               -    245895
20  21.0            Jammu & Kashmir                               -    155956
21  22.0           Himachal Pradesh                          165472    153845
22  23.0                        Goa                           80449     73170
23  24.0                    Tripura                           55984     49845
24  25.0                 Chandigarh                               -     42114
25  26.0                 Puducherry                           38253     34433
26  27.0                  Meghalaya                           36572     33481
27  28.0                     Sikkim                           32496     28723
28  29.0                    Manipur                           31790     27870
29  30.0                   Nagaland                               -     27283
30  31.0          Arunachal Pradesh                               -     24603
31  32.0                    Mizoram                           26503     22287
32  33.0  Andaman & Nicobar Islands                               -         -
33   NaN                      India                        20351013  18886957

     Share GDP ($billion) GSDP (Cr INR at 2011-12 prices)
     18-19           2019                           19-20     18-19
0   13.94%        399.921                               -   2039074
1    8.63%        247.629                         1312929   1215307
2    8.39%        240.726                         1166817   1123982
3    7.96%        228.290                               -   1186379
4    7.91%        226.806                         1156039   1091077
5    5.77%        165.556                          793223    739525
6    4.99%        143.179                          711627    677428
7    4.57%        131.083                          672018    621301
8    4.56%        130.791                          663258    612828
9    4.29%        122.977                          561801    522009
10   4.14%        118.733                               -    559412
11   4.10%        117.703                          634408    590569
12   3.89%        111.519                          572240    531085
13   2.81%         80.562                          414977    375651
14   2.79%         79.957                          418868    397669
15   2.58%         74.098                          396499    376877
16   1.67%         47.982                               -    234048
17   1.61%         46.187                          243477    231182
18   1.57%         45.145                          240036    224986
19   1.30%         37.351                               -    193273
20   0.83%         23.690                               -    112755
21   0.81%         23.369                          124403    117851
22   0.39%         11.115                           63408     57787
23   0.26%          7.571                           40583     36963
24   0.22%          6.397                               -     31192
25   0.18%          5.230                           25093     23013
26   0.18%          5.086                           26695     24682
27   0.15%          4.363                           20017     18722
28   0.15%          4.233                           20673     19300
29   0.14%          4.144                               -     17647
30   0.13%          3.737                               -     16676
31   0.12%          3.385                           18797     16478
32       -              -                               -         -
33     NaN           2869                        14569268  14003316

Scrape the details of trending repositories on Github.com. Url = https://github.com/ You have to find the following details: A) Repository title B) Repository description C) Contributors count D) Language used

In [93]:
url = "https://github.com/trending"
page = requests.get(url)
print("Legality Response number from our URL is:", page) # to show the response output from the webpage
soup = BeautifulSoup(page.content)

driver=webdriver.Chrome(r"/users/pratiksingh/Downloads/chromedriver")
driver.get(url)
driver.maximize_window()

Legality Response number from our URL is: <Response [200]>

In [94]:
# making empty lists    
repo_urls=[]
Contributors_count=[]
Language_used=[]
repo_title=[]
repo_desc=[]

#scraping repositories urls
repos=driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a")
for i in repos:
    repo_urls.append(i.get_attribute('href'))
time.sleep(2) 

    
#scraping repositories title
repo_title=[]
try:
    repos=driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']")
    for i in repos:
        repo_title.append(i.text)
except NoSuchElementException:#handling no such element exception
    repo_title.append('No details available')
time.sleep(3)
    

for i in repo_urls:
    driver.get(i)
    l=[]
    time.sleep(3)
    #scraping repositories discription
    try:
        repo = driver.find_element_by_xpath("/html/body/div[4]/div/main/div[2]/div/div/div[2]/div[2]/div/div[1]/div/p")
        repo_desc.append(repo.text)
    except NoSuchElementException:
        repo_desc.append('-')
    
    #scraping contributors count
    try:
        count=driver.find_element_by_xpath("//h2[@class='h4 mb-3']/a[contains(text(),'Contributors')]/span")
        Contributors_count.append(count.text)
    except NoSuchElementException:#handling no such element exception
        Contributors_count.append('No details available')
    time.sleep(2)
    
     #scraping languages used   
    languages=driver.find_elements_by_xpath("//li[@class='d-inline']//a//span[1]")
    if languages:    
        for i in languages:
            l.append(i.text)
    else:
        l.append('No languages used')
    Language_used.append(l)   
    
time.sleep(2)   
#creating dataframe
df=pd.DataFrame({'Title':repo_title,
                'Description':repo_desc,
                'Contributors_count':Contributors_count,
                'Language_used':Language_used})
df

,Title,Description,Contributors_count,Language_used
0,microsoft / routeros-scanner,-,3,[Python]
1,RIAEvangelist / node-ipc,-,35,[JavaScript]
2,CodeEditApp / CodeEdit,-,13,"[Swift, Shell]"
3,RanKKI / LawRefBook,-,3,"[Swift, Python, Ruby]"
4,public-apis / public-apis,-,"1,269","[Python, Shell]"
5,lapce / lapce,-,7,"[Rust, Makefile]"
6,remix-run / blues-stack,-,4,"[TypeScript, JavaScript, Dockerfile, Shell]"
7,RIAEvangelist / peacenotwar,-,6,[JavaScript]
8,PowerShell / PowerShell,-,396,"[C#, PowerShell, Roff, Shell, Rich Text Format..."
9,google / h2e_technical_documentation,-,No details available,[No languages used]
10,PKUFlyingPig / cs-self-learning,-,22,[No languages used]
11,freeCodeCamp / freeCodeCamp,-,"4,413","[JavaScript, TypeScript, CSS, Shell, Dockerfil..."
12,remix-run / indie-stack,-,5,"[TypeScript, JavaScript, Dockerfile, Shell]"
13,psf / black,-,312,[Python]
14,drago-96 / CVE-2022-0778,-,No details available,[C]
15,openmlsys / openmlsys-zh,-,20,"[TeX, Python, Shell]"
16,ploomber / ploomber,-,34,"[Python, HTML]"
17,discourse / discourse,-,806,"[Ruby, JavaScript, HTML, Handlebars, SCSS, Mus..."
18,gothinkster / realworld,-,73,[Shell]
19,jackfrued / Python-100-Days,-,12,"[Python, HTML, Jupyter Notebook]"
20,iperov / DeepFaceLive,-,4,[Python]
21,yewstack / yew,-,298,"[Rust, JavaScript]"
22,Teaching-Assistants-of-Cloud-Computing / Cloud...,-,4,"[HTML, Python, Dockerfile]"
23,ToolJet / ToolJet,-,132,"[JavaScript, TypeScript, SCSS, Shell, EJS, Doc..."
24,chen310 / NeteaseCloudMusicTasks,-,7,"[Python, Shell, Dockerfile]"

In [95]:
driver.close()

Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the following details: A) Song name B) Artist name C) Last week rank D) Peak rank E) Weeks on board

In [111]:
##Connect to the driver
driver=webdriver.Chrome(r"/users/pratiksingh/Downloads/chromedriver")

In [140]:
url = "https://www.billboard.com/"
driver.get(url)
time.sleep(3)

In [144]:
driver.find_element_by_xpath("//button[@class='o-icon-button lrv-a-unstyle-button lrv-a-unstyle-link lrv-u-cursor-pointer lrv-u-flex js-MegaMenu-Trigger lrv-u-color-grey:hover lrv-a-hover-effect']").click()

In [145]:
url=driver.find_elements_by_xpath("//a[@class='c-link  lrv-a-unstyle-link lrv-u-font-size-18@desktop lrv-u-color-grey:hover u-color-brand-secondary:hover@desktop-max u-padding-a-1@desktop-max lrv-u-padding-tb-025 lrv-u-display-block']")
urls=url[0].get_attribute('href')

In [146]:
driver.get(urls)

In [149]:
Song_Name=[]
Artist_Name=[]
Last_Week_Rank=[]
Peek_Rank=[]
Weeks_On_Board=[]

In [150]:
dt = driver.find_elements_by_xpath('//span[@class="chart-element__information__song text--truncate color--primary"]')
for d in dt:
    if d.text is None :
        Song_name.append('-')
    else:
        Song_name.append(d.text)

In [151]:
dt = driver.find_elements_by_xpath('//span[@class="chart-element__information__artist text--truncate color--secondary"]')
for d in dt:
    if d.text is None :
        Artist_name.append('-')
    else:
        Artist_name.append(d.text)

In [152]:
dt = driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--last"]')
for d in dt:
    if d.text is None :
        Last_week_rank.append('-')
    else:
        Last_week_rank.append(d.text)

In [153]:
dt = driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--peak"]')
for d in dt:
    if d.text is None :
        Peak_rank.append('-')
    else:
        Peak_rank.append(d.text)

In [154]:
dt = driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--week"]')
for d in dt:
    if d.text is None :
        Weeks_on_board.append('-')
    else:
        Weeks_on_board.append(d.text)

In [155]:
import pandas as pd
table=pd.DataFrame({})

table['Song Name']=Song_name
table['Artist Name']=Artist_name
table['Last Week Rank']=Last_week_rank
table['Peak Rank']=Peak_rank
table['Weeks On Board']=Weeks_on_board

In [ ]:
table

Scrape the details of Data science recruiters from naukri.com. Url = https://www.naukri.com/ You have to find the following details: A) Name B) Designation C) Company D) Skills they hire for E) Location Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [ ]:
##Connect to the driver
driver=webdriver.Chrome(r"/users/pratiksingh/Downloads/chromedriver")
time.sleep(2)

# Opening the naukri.com
url = "https://www.naukri.com/"
driver.get(url)
time.sleep(2)

#clicking on recruiters link
recruiters=driver.find_element_by_xpath("//a[@title='Search Recruiters']")
driver.get(recruiters.get_attribute('href'))
time.sleep(1)

#accesing search bar
search=driver.find_element_by_xpath("//input[@class='sugInp']")
search.send_keys("Data Science")
time.sleep(1)

#clicking on search button
button=driver.find_element_by_xpath("//button[@id='qsbFormBtn']")
button.click()
time.sleep(1)

#scrapping names
name=[]
try:
    names=driver.find_elements_by_xpath("//div[@class='recInfo']/div/p/a[1]")
    for i in names:
        name.append(i.text)
except NoSuchElementException:           #handling no such element exception
    name.append('No details available')
time.sleep(2)


#scrapping designation
designation=[]
try:
    designation_list=driver.find_elements_by_xpath("//div[@class='recInfo']/div/p/span[1]")
    for i in designation_list:
        designation.append(i.text)
except NoSuchElementException:        #handling no such element exception
    designation.append('No details available')
time.sleep(2)


#scrapping company names
company=[]
try:
    companies=driver.find_elements_by_xpath("//div[@class='recInfo']/div/p/a[2]")
    for i in companies:
        company.append(i.text)
except NoSuchElementException:#handling no such element exception
    company.append('No details available')
time.sleep(2)

#scrapping location names
location=[]
soup=BeautifulSoup(driver.page_source,'html.parser')
l=soup.find_all('div',attrs={'vcard'})
for i in l:
    try:
        location.append(i.find('small').text)
    except AttributeError :
        location.append("No details available")
time.sleep(2)

#skills they hire for
skill=[]
try:
    skills=driver.find_elements_by_xpath("//div[@class='recInfo']/div[2]")
    for i in skills:
        skill.append(i.text)
except NoSuchElementException:        #handling no such element exception
    skill.append('No details available')
time.sleep(2)    
        
#creating dataframe
df=pd.DataFrame({'Name':name,
                'Designation':designation,
                'Company':company,
                "Location":location,
                'Skills I hire':skill})
df

8. Scrape the details of Highest selling novels.

Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/ You have to find the following details:

A) Book name B) Author name C) Volumes sold D) Publisher E) Genre

In [168]:
driver=webdriver.Chrome(r"/users/pratiksingh/Downloads/chromedriver")

driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [169]:
all_box = driver.find_elements_by_xpath('//tbody/tr')

In [170]:
all_list = []

for one_box in all_box:
    
    book_name = one_box.find_elements_by_xpath('.//td')[1].text
    author_name = one_box.find_elements_by_xpath('.//td')[2].text
    volumes_sold = one_box.find_elements_by_xpath('.//td')[3].text
    publisher = one_box.find_elements_by_xpath('.//td')[4].text
    genre = one_box.find_elements_by_xpath('.//td')[5].text

    all_list.append({
        'book_name': book_name,
        'author_name': author_name,
        'volumes_sold': volumes_sold,
        'publisher': publisher,
        'genre': genre,
    })
    
df = pd.DataFrame(all_list)
df

,book_name,author_name,volumes_sold,publisher,genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

9. Scrape the details most watched tv series of all time from imdb.com.

Url = https://www.imdb.com/list/ls095964455/

You have to find the following details: A) Name B) Year span C) Genre D) Run time E) Ratings F) Votes

In [171]:
driver=webdriver.Chrome(r"/users/pratiksingh/Downloads/chromedriver")

driver.get('https://www.imdb.com/list/ls095964455/')

In [172]:
all_boxes = driver.find_elements_by_xpath('//div[@class="lister-item-content"]')

In [173]:
all_list = []
for one_box in all_boxes:
    
    name = one_box.find_element_by_xpath('.//h3/a').text
    year_span = one_box.find_element_by_xpath('.//h3/span[2]').text
    genre = one_box.find_element_by_xpath('.//p/span[@class="genre"]').text
    run_time = one_box.find_element_by_xpath('.//p/span[@class="runtime"]').text
    ratings = one_box.find_element_by_xpath('.//div[@class="ipl-rating-star small"]').text
    votes = one_box.find_element_by_xpath('.//span[@name="nv"]').text
    
    all_list.append({
        'name': name,
        'year_span': year_span,
        'genre': genre,
        'run_time': run_time,
        'ratings': ratings,
        'votes': votes,
    })
    
    
df = pd.DataFrame(all_list)
df

,name,year_span,genre,run_time,ratings,votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,965,499"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"973,178"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.3,"936,300"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"280,108"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.7,"240,213"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.6,"48,054"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"58,760"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.2,"186,872"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"39,613"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"223,501"

10. Details of Datasets from UCI machine learning repositories.

Url = https://archive.ics.uci.edu/ You have to find the following details:

A) Dataset name B) Data type C) Task D) Attribute type E) No of instances F) No of attribute G) Year

In [177]:
driver=webdriver.Chrome(r"/users/pratiksingh/Downloads/chromedriver")

driver.get('https://archive.ics.uci.edu/')

In [178]:
driver.find_element_by_xpath('//b').click()

In [179]:
all_boxes = driver.find_elements_by_xpath('//table[@cellpadding="5" and @border="1"]/tbody/tr')

In [180]:
all_list = []
for i, one_box in enumerate(all_boxes):
    
    # Skiping Column
    
    if i == 0:
        continue
        
    dataset_name = one_box.find_elements_by_xpath('.//td')[0].text
    data_type = one_box.find_elements_by_xpath('.//td')[1].text
    task = one_box.find_elements_by_xpath('.//td')[2].text
    attribute_type = one_box.find_elements_by_xpath('.//td')[3].text
    no_of_instances = one_box.find_elements_by_xpath('.//td')[4].text
    no_of_attribute = one_box.find_elements_by_xpath('.//td')[5].text
    year = one_box.find_elements_by_xpath('.//td')[6].text


    
    all_list.append({
        'dataset_name':dataset_name ,
        'data_type':data_type ,
        'task':task ,
        'attribute_type':attribute_type ,
        'no_of_instances':no_of_instances ,
        'no_of_attribute':no_of_attribute ,
        'year':year ,
    })
    
    
df = pd.DataFrame(all_list)
df

,dataset_name,data_type,task,attribute_type,no_of_instances,no_of_attribute,year
0,Abalone,,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177
1,Adult,,Adult,Multivariate,Classification,"Categorical, Integer",48842
2,Annealing,,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798
3,Anonymous Microsoft Web Data,,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711
4,Arrhythmia,,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twit...,,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840
618,Turkish Music Emotion Dataset,,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400
619,Maternal Health Risk Data Set,,Maternal Health Risk Data Set,,Classification,,1014
620,Room Occupancy Estimation,,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129
621,Image Recognition Task Execution Times in Mo...,,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000